{{#each model as |item|}} 
	<p>{{item.content}}</p>
{{/each}}

<h2>default outlet position</h2>
{{outlet}}
<h2>outlet position 1</h2>
{{outlet 'positionOne'}}
<h2>outlet position 2</h2>
{{outlet 'positionTwo'}}
